#root {
  width: 100vw;
  height:100vh;
  margin: 0;
  padding: 0;
  /* padding: 2rem; */
  text-align: center;
}
.container {
  display: flex;
  flex-direction : column;
  /* gap: 10px; */
  height:100%;
  width:100%;
  /* position: relative; */
  align-items: center;
  justify-content: center;
}
.header {
  background-color: lightcoral;
  width: 100%;
  padding: 20px;
  /* position: fixed: */
  flex:1;
  top: 0;
  left:0;
  right:0;
  z-index : 10;
}
.banner {
  position: relative;
  background-color: black;
  flex:10;
  align-items: center;
  width:100%;
  margin: 0;
  
  /* top: 0; */
  /* left:0; */
  /* right:0; */
}
.champContainer {
  display:flex;
  justify-content: space-between;
  padding:20px;

}
.champName {
  flex:1;
  max-width:30%;
  flex-direction:column;
  color: white;
  display: flex;
  align-items:center;
  text-align:center;
}
.champImage {
  width: 100%;
  height: auto;
  max-height:100%;
  object-fit:contain;

}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
